Repository muhammadawaisshaikh/ai-python-Javascript, pull requests merged in 2024-10, with the labels that each got.

#3 added @google/generative-ai package in angular app
  Angular/README.md
  Angular/angular.json
  Angular/package-lock.json
  Angular/package.json
  Angular/src/app/app.component.html
  Angular/src/components/text-based-gemini/text-based-gemini.component.html
  Angular/src/components/text-based-gemini/text-based-gemini.component.scss
  Angular/src/components/text-based-gemini/text-based-gemini.component.spec.ts
  Angular/src/components/text-based-gemini/text-based-gemini.component.ts
  Angular/src/environments/environment.ts
  Angular/src/services/gemini-google-ai/gemini-google-ai.service.spec.ts
  Angular/src/services/gemini-google-ai/gemini-google-ai.service.ts
Labels: enhancement

#4 Feature/gemini text prompt
  Angular/README.md
  Angular/src/app/app.routes.ts
  Angular/src/components/text-based-gemini/text-based-gemini.component.ts
  Angular/src/services/gemini-google-ai/gemini-google-ai.service.ts
Labels: enhancement, google-ai, angular

#5 feat(chat-receipe) Add receipe
  Angular/.prettier.json
  Angular/package-lock.json
  Angular/package.json
  Angular/src/app/app.routes.ts
  Angular/src/components/text-based-gemini/text-based-gemini.component.spec.ts
  Angular/src/components/text-based-gemini/text-based-gemini.component.ts
  Angular/src/environments/environment.ts
  Angular/src/pages/chat/chat.component.html
  Angular/src/pages/chat/chat.component.scss
  Angular/src/pages/chat/chat.component.ts
  Angular/src/services/gemini-google-ai/gemini-google-ai.service.ts
  Angular/src/styles.scss
Labels: enhancement, google-ai, angular

#6 gemini starter component revamp
  Angular/src/app/app.routes.ts
  Angular/src/components/text-based-gemini/text-based-gemini.component.html
  Angular/src/components/text-based-gemini/text-based-gemini.component.ts
  React/.gitkeep
Labels: enhancement, google-ai, angular

#8 Feature/skill quiz generator
  Angular/angular.json
  Angular/package.json
  Angular/src/app/app.component.html
  Angular/src/app/app.component.ts
  Angular/src/app/app.routes.ts
  Angular/src/app/components/loader/loader.component.html
  Angular/src/app/components/loader/loader.component.scss
  Angular/src/app/components/loader/loader.component.ts
  Angular/src/app/helpers/quiz-recipe-helper.service.ts
  Angular/src/app/interfaces/iquiz.ts
  Angular/src/app/pages/skill-quiz-generator/generated-quiz/generated-quiz.component.html
  Angular/src/app/pages/skill-quiz-generator/generated-quiz/generated-quiz.component.scss
  Angular/src/app/pages/skill-quiz-generator/generated-quiz/generated-quiz.component.ts
  Angular/src/app/pages/skill-quiz-generator/skill-quiz-generator.component.html
  Angular/src/app/pages/skill-quiz-generator/skill-quiz-generator.component.scss
  Angular/src/app/pages/skill-quiz-generator/skill-quiz-generator.component.ts
  Angular/src/app/services/loading/loading.service.ts
Labels: enhancement, google-ai, angular

#10 home with authors and details
  Angular/angular.json
  Angular/src/app/app.routes.ts
  Angular/src/app/pages/home/home.component.html
  Angular/src/app/pages/home/home.component.scss
  Angular/src/app/pages/home/home.component.spec.ts
  Angular/src/app/pages/home/home.component.ts
  Angular/src/assets/img/author.jpg
  Angular/src/assets/img/lars-co-author.jpg
  Angular/src/assets/img/sonu-co-author.jpg
  Angular/src/assets/img/tech-stack.png
Labels: enhancement, angular
